/* Обнуления */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
}


.block{
    width: 500px;
    height: 500px;
    background: floralwhite;
    border-width: 5px;
    border-color: black;
    border-style: solid;

    /* Внешний отступ */
    /* margin: 50px; */
    /* margin: 25px 15px; */
    /* margin: 50px 40px 30px 20px; */
    margin: 50px auto;

    /* Внутренний отступ */
    /* padding: 20px; */
    /* padding: 20px 10px; */
    /* /* padding: 20px 15px 10px 5px; * */
    

    position: relative;
   
}

.box{
    width: 75px;
    height: 75px;
    border: 1px solid #000;
    color: white;
    font-size: 25px;
    
}

.box{
    /* background: dodgerblue; */
}

.box:first-child{
    background: indianred;

    position: relative;
    left: 85%;
    top: 85%;

        z-index: 2;
   
   
}

.box:nth-child(2){
    background: maroon;

    position: absolute;
    top: 80%;
    left: 82%;

   z-index: 1;
}

.box:nth-child(3){
    background: forestgreen;

    position: absolute;
    top: 77%;
    left: 77%;

        z-index: 3;
}

.box:last-child{
    background: peru;

    position: absolute;
    top: 75%;
    left: 75%;

   
}



/* justify-content: center o'ng tomon o'rtaga surish
    align-items: center; pastga o'rtaga olib o'tish */